<br/>

<div class="input-group-append">
  <button class="btn btn-outline-secondary" type="button" (click)='onBack()' >Terug</button>
</div>

<br/>

<div class="row">
  <div class="col">

    <h2>Persoonlijk informatie</h2>
    <br/>

    <p><span class='font-weight-bold'>Voornaam:</span> {{profile.firstname}}</p>
    <p><span class='font-weight-bold'>Achternaam:</span> {{profile.surname}}</p>
    <p><span class='font-weight-bold'>Geboortedatum:</span> {{profile.dateOfBirth | date : 'dd-MM-yyyy'}}</p>

    <h2>Contact informatie</h2>
    <br/>

    <p><span class='font-weight-bold'>Email:</span> <app-mail-component [email]='profile.email'></app-mail-component></p>
    <p><span class='font-weight-bold'>Telefoonnummer:</span> {{profile.phoneNumber | convertToSpaces: '-' }}</p>
  </div>
  <div class="col">
    <img width='500px' [src]='profile.photourl'>
  </div>
</div>