<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon2" [(ngModel)]='listFilter'>
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Search</button>
    </div>
</div>
<table class="table" *ngIf="profiles && profiles.length > 0">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Naam</th>
        <th scope="col">Email</th>
        <th scope="col">Telefoonnummer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let profile of filteredProfiles">
        <th scope="row">{{profile.id}}</th>
        <td><a [routerLink]="['/profile', profile.id]">{{profile.name}}</a></td>
        <td>{{profile.email}}</td>
        <td>{{profile.phoneNumber}}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="!profiles || profiles.length === 0">
    Nothing found
  </div>